<div class="card-content">
	<div class="card-img">
		<img src="https://placeimg.com/380/230/nature"	alt="">
		<span><h4>{{position}}</h4></span>
	</div>
	<div class="card-desc">
		<h3>{{comic.nombre}}</h3>
		<p>Características</p>
		<ul>
			<li *ngFor = "let s of comic.caracteristicas;">
				<span class="container" [ngSwitch] = "s">
					<i *ngSwitchCase = "'Hoja fotografía'" style = "color: red;">{{s}} *</i>
					<i *ngSwitchDefault>{{s}}</i>
				</span>
			</li>
		</ul>
		<div>
			<a href="#" (click)="voteUp()"><i class="material-icons md-18">thumb_up</i></a>
			<a href="#" (click)="voteDown()"><i class="material-icons md-18">thumb_down</i></a>
			{{comic.votes}}
		</div>
		<a	href="#" class="btn-card" (click)="ir()">IR!</a>
		<span *ngIf="comic.isSelected()">
			<span ngNonBindable>{{ PREFERIDO }}</span>
		</span>
		<a [routerLink]="['/comic', comic.id]">Ver!</a>
	</div>
</div>