<div class="container content">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<span class="anchor" id="formLogin"></span>

			<!-- form	card	login	with	validation	feedback	-->
			<div class="card card-outline-secondary">
				<div class="card-header">
					<h3	class="mb-0">Whishlist</h3>
				</div>	
				<div class="card-body">
					<app-form-comic (onItemAdded)="agregado($event)"></app-form-comic>
				</div>
			</div>
		</div>
	</div>

	<hr	class="mb-5">

	<div class="row row-flex">
		<app-comic
			*ngFor="let c of all; let i= index"
			[comic]="c"
			[idx]="i+1"
			(onClicked)='elegido(d)'
		></app-comic>
	</div>

	<hr	class="mb-5">

	<div class="row row-flex">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor="let u of updates;">{{u}}!</li>
		</ul>
	</div>
</div>